@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fcf4ec;
}

.wrapper {
    min-height: 100vh;
}

.adoteumAumigo {
    font-size: 40px;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    margin: 5px 0 20px 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
}


.companheiro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 15px;
}


.botaoBusca {
    background-color: #C9A98D;
    font-size: 10px;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 400;
}

.loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width: 455px) {
    .adoteumAumigo {
        font-size: 30px;
    }

    .companheiro {
        font-size: 13px;
    }

}


