@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fcf4ec;
}

.wrapper {
    min-height: 100vh;
}

.adoteumAumigo {
    font-size: 40px;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.companheiro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 15px;
}

button:hover {
    background-color: #555;
}

@media screen and (max-width: 455px) {
    .adoteumAumigo {
        font-size: 30px;
    }

    .companheiro {
        font-size: 13px;
    }
}