@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


main {
    justify-content: center;
    background-color: #fcf4ec;
    padding: 20px;
}

.wrapper {
    min-height: 100vh;
}


.content {
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}



form button {
    background-color: #C9A98D;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
}


form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none; 
    border-radius: 10px; 
    width: 100%;
    background-color: #f0f0f0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.entre-em-contato {
    font-size: 35px;
    font-weight: 600;
}

.entre-em-contato2 {
    font-size: 15px;
    color: #262626;
    font-weight: 400;
}

.entre-em-contato2 {
    margin-bottom: 5px;
}


form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    display: block; 
}

:root {
    --secondary: #1D1D1D;
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 16px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: .2;
}

.loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    main {
        padding: 0;
    }
}