@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

main {
    display: flex;
    justify-content: center;
    background-color: #fcf4ec;
    padding: 20px;
    /* Centraliza horizontalmente */
}

.content {
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Define um layout flexível para os elementos dentro da content */
}

.column {
    flex: 1;
    /* Divide o espaço igualmente entre as duas colunas */
    padding: 20px;
    /* Adiciona um espaçamento interno às colunas */
}

.text-section {
    margin-right: 20px;
    /* Espaçamento entre o texto e a imagem/formulário */
}


.img-contato {
    max-width: 100%;
    
}

form button {
    background-color: #C9A98D;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

button:hover {
    background-color: #555;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Borda arredondada para os campos */
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo "fofa" */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.entre-em-contato {
    font-size: 35px;
    font-weight: 600;
}

.entre-em-contato2, .entre-em-contato3 {
    font-size: 18px;
    color: #262626;
}

.entre-em-contato2 {
    margin-bottom: 5px;
}

form button:hover {
    background-color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    /* Empilha os elementos verticalmente */
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    display: block; 
}

@media screen and (max-width: 1100px) {
    .content {
        flex-direction: column; 
        padding: 0px;
        margin: 20px;
    }

    .text-section {
        width: 100%;
        max-width: 100%; 
        margin-bottom: 10px;
    }

    h1 {
        font-size: 30px; 
    }

    p {
        font-size: 15px; 
    }

    .buttons {
        margin-top: 10px; 
    }

    button {
        padding: 8px 16px; 
        font-size: 14px; 
    }

    .image-contato {
        display: none;
    }
}
