@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

main {
    display: flex;
    justify-content: center;
    background-color: #fcf4ec;
    padding: 20px;
    /* Centraliza horizontalmente */
}

.content {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Define um layout flexível para os elementos dentro da content */
}

.column {
    flex: 1;
    /* Divide o espaço igualmente entre as duas colunas */
    padding: 20px;
    /* Adiciona um espaçamento interno às colunas */
}

.text-section {
    margin-right: 20px;
    /* Espaçamento entre o texto e a imagem/formulário */
}


img {
    max-width: 100%;
}

form button {
    background-color: #C9A98D;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    /* Adiciona espaçamento acima do botão */
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Borda arredondada para os campos */
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo "fofa" */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

p2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #403E3B;
}

form button:hover {
    background-color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    /* Empilha os elementos verticalmente */
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    display: block; 
}