@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

footer {
    background-color: white;
    color: #262626;
    padding: 30px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 46px;
    margin: 0 auto;
}

.footer-columns ul {
    list-style-type: none;
    margin: 15px;
}

.footer-columns ul a {
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul a:visited, a:link{
    color: #262626;
}

.footer-columns li {
    margin-bottom: 10px; 
}

.allrights {
    text-align: center;
    margin: 100px 0 0 300px;
}

@media (max-width: 800px) {
    .allrights {
        margin: 0;
    }
}