@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

body {
    min-width: 372px;
}

.nav-item {
    margin-right: 20px;
}
  
.nav-item:hover {
    text-decoration: underline;
}

.nav-link {
    line-height: 144px;
    color: black;
}

.nav-link[onclick] {
    line-height: 144px;
    color: black;
}

@media screen and (max-width: 990px) {
    .nav-link, .adote {
        line-height: 15px !important;
        text-align: center;
    }
}