:root {
    --primary: #C9A98D;
    --primary-light: #E1EEF5;
    --secondary: #1D1D1D;
    --background: #F4F1FF;
    --text: #1F2346;
}

body {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 16px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: .2;
}


.login-side {
    padding: 50px 32px 48px 32px;
    display: flex;
    justify-content: center;
    align-items: start;
}

#mensagemSucesso {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.welcome-message {
    max-width: 360px;
}


.my-form__wrapper {
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 460px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: 
        rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
}

.login-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.my-form__button {
    background-color: #C9A98D;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    min-height: 50px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    height: 50px;
    letter-spacing: .03rem;
    outline: none;
    transition: .25s;
    text-indent: 20px;
    margin-top: 8px;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Borda arredondada para os campos */
    background-color: #f0f0f0; /* Cor de fundo "fofa" */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.text-field {
    position: relative;
}


.text-field input:focus {
    border: 1px solid var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

@media (max-width: 640px) {
    .login-wrapper {
        grid-template-columns: 1fr;
        height: 100vh;
        margin-bottom: 250px;
    }
    
    .info-side {
        flex-direction: column-reverse;
        padding: 48px 48px 48px 32px;
    }

}

    .user-type {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .user-type label {
        flex: 1;
        text-align: center;
        background-color: #ffffff; /* Cor de fundo */
        color: #000000; /* Cor do texto */
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: 500;
    }

    .user-type input[type="radio"] {
        display: none; /* Oculta os radio buttons padrão */
    }

    .user-type input[type="radio"]:checked + label {
        background-color: #C9A98D; /* Cor de fundo quando selecionado */
        color: white;
    }

