@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav-container {
    display: flex;
    align-items: center; /* Alinhe verticalmente ao centro */
    padding: 10px 20px;
}


header {
    background-color: #ffffff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


.nav-list {
    display: flex;
    align-items: center;
}


.current .nav-link {
    color: #C9A98D; 
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 13px;
    color: #262626;
    font-weight: 500;
}


.login-button button {
    margin: 40px 0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #C9A98D;
}

.login-button button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
}

button {
    transition: background-color 0.3s ease;
    font-weight: 500;
}

button:hover {
    background-color: #555;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}



