@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fcf4ec !important;
}

.wrapper {
    min-height: 100vh;
}

body {
    min-width: 372px;
}

.modal-title {
    font-weight: bold;
}

.parceiro {
    font-size: 35px !important;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #403E3B;
    font-weight: bold;
}

.ongsparceiras {
    font-size: 30px !important;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #070707;
    font-weight: bold;
}

.image-section {
    flex: 1;
    margin: 30px;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;

}

.text-section {
    display: flex;
    flex-direction: column;
    /* Empilhar elementos verticalmente */
    width: fit-content;
}

.image-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.image-section img {
    max-width: 100%;
}

.text-ao-lado {
    flex: 1;
    margin-left: 20px;
    flex-direction: column;
    width: 100px;
}

.loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
  }

button:hover {
    background-color: #555;
}

#abrir-modal.btn.btn-primary {
    background-color: #C9A98D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#abrir-modal.btn.btn-primary:hover {
    background-color: #A8896F;
}

.modal-footer button.btn-secondary,
.modal-footer button.btn-primary {
    background-color: #C9A98D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-right: 10px;
}

.modal-footer button.btn-secondary:hover,
.modal-footer button.btn-primary:hover {
    background-color: #A8896F;
}

button a:visited,
a:link {
    color: white;
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
}

@media screen and (max-width: 455px) {
    .parceiro {
        font-size: 30px;
    }

}

/* Estilos para o formulário */
form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: block;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form button[type="submit"] {
    background-color: #C9A98D;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

form button[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para o checkbox */
input#concordo2 {
    vertical-align: middle;
    margin-right: 5px;
}

/* link nos termos e condições */
form a:visited,
form a:link {
    color: #C9A98D;
    text-decoration: none;
}

/* container do formulário */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* mensagem de senha não correspondente */
.password-mismatch {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 767px de largura */
    .image-text-wrapper {
        flex-direction: column;
    }

    .image-text-wrapper div {
        width: 100%;
        margin-bottom: 20px;
    }
    .parceiro {
        font-size: 20px !important;
    }
}