@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@100;200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fcf4ec !important;
}

.wrapper {
    min-height: 100vh;
}

body {
    min-width: 372px;
}

.parceiro {
    font-size: 35px !important;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #403E3B;
    font-weight: bold;
}

.ongsparceiras {
    font-size: 30px !important;
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #403E3B;
    font-weight: bold;
}

.image-section {
    flex: 1;
    margin: 30px;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;

}

.text-section {
    display: flex;
    flex-direction: column;
    /* Empilhar elementos verticalmente */
    width: fit-content;
}

.image-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.image-section img {
    max-width: 100%;
}

.text-ao-lado {
    flex: 1;
    margin-left: 20px;
    flex-direction: column;
    width: 100px;
}

button:hover {
    background-color: #555;
}

#abrir-modal.btn.btn-primary {
    background-color: #C9A98D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#abrir-modal.btn.btn-primary:hover {
    background-color: #A8896F;
}

.modal-footer button.btn-secondary,
.modal-footer button.btn-primary {
    background-color: #C9A98D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-right: 10px;
}

.modal-footer button.btn-secondary:hover,
.modal-footer button.btn-primary:hover {
    background-color: #A8896F;
}

button a:visited,
a:link {
    color: white;
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
}

@media screen and (max-width: 455px) {
    .parceiro {
        font-size: 30px;
    }

}